@import "_reset";
@import "_tools";
@import "_fonts";
@import "_variables";

/* Common (common styles) */
body, input, textarea, select, button {
	
	font-family: Arial, sans-serif;
}

html {}

body {

	@include BaseFont(14px, 20px);
	height: auto;
	position: relative;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	background: transparent url('../i/background.jpg');
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-attachment: fixed;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

	min-height: 100%;
}

input, textarea, select, button {
	
	font-size: 1em;
}

/* Overrides extra padding in Firefox */ 
button::-moz-focus-inner { 
	
	padding: 0; 
	border: none;
}

/* Global (global styles) / prefix - g- */

.g-pseudo-link {
	
	border-bottom: 1px dashed;
	text-decoration: none !important;
	cursor: pointer;
}

.g-limited {
	
	width: $max-width;
	margin: 0 auto;
}

.g-cleaner {
	
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.g-cleared:after {
	
	display: block;
	content: ".";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.g-hidden {
	
	display: none !important;
}

.l-header {

	min-width: $min-page-width;

	&-inside {

		margin: 0 auto;
		position: relative;
		padding: 0 0 140px;
		@include Font(0, 0);
	}
}

.l-content {

	box-sizing: border-box;
	height: auto;
	min-width: $min-page-width;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;

	&-inside {

		position: relative;
		margin: 60px auto 0;
		min-height: 150px;
		background: rgba(177,210,235,.9);
		border-radius: 5px;
		@include Font(0, 0);
		@include shadow(0, 0, 60px, #318aca, inset);

		&:before {

			content: "";
			display: block;
			position: absolute;
			top: -30px;
			left: -26px;
			right: -23px;
			height: 134px;
			background-image: url(../i/snow.png);
		}
	}
}

.l-footer {
	
	padding: 100px 0 0 0;
	background: transparent url('../i/footer-background.png');
	background-position: 50% 0;
	background-repeat: no-repeat;
	position: relative;
	min-width: $min-page-width;
	overflow: hidden;

	&-inside {

		margin: 0 auto;
	}
}

.b-logo {
	
	display: inline-block;
	margin: 0 0 0 -208px;
	width: 235px;
	vertical-align: top;

	&-link {

		position: relative;
		&:after {
			
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 417px;
			height: 235px;
			background: transparent url('../i/logo.png') no-repeat;
		}
	}
}

	.b-logo-rostelecom-link:after {
		
		position: absolute;
		content: "";
		top: 24px;
		right: -65px;
		width: 130px;
		height: 112px;
		@include graphics(0, -63px);
	}

.b-primary-menu {
	
	display: inline-block;
	padding: 60px 0 0 224px;
	width: 100%;
	text-align: left;
	vertical-align: top;

	&-clause {

		display: inline-block;
		margin: 0 11px;
		width: auto;
		max-width: 110px;
		text-align: center;
		vertical-align: top;

		&-link {
			
			@include Noteworthy-Bold(13px, 18px);
			color: #fff;
			text: {
				transform: uppercase;
				decoration: none;
				align: center;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.b-form {

	padding: 75px 35px;
	color: #0c5fa5;

	&-title {

		padding: 0 15px 20px;
		@include Rotonda-Bold(41px, 48px);
	}

	&-fieldset {

		display: block;
		box-sizing: border-box;
		@include Font(16px, 20px);
		padding: 0 15px 10px;
		position: relative;

		&.b-form-name-fieldset {

			width: 375px;
		}

		&.b-form-phone-fieldset {

			width: 375px;
		}

		&.b-form-text-fieldset {

			float: right;
			width: 515px;
			height: 188px;
			margin: -188px 0 0;
		}

		&.b-form-rules-fieldset {

			float: left;
			margin: 20px 0 0;
			height: 46px;
			line-height: 46px;
		}

		&.b-form-submit-fieldset {

			float: right;
			width: 180px;
			margin: 10px 0 0;
		}

		&-title {

			@include Noteworthy-Bold(28px, 30px);

			&:after {

				content: ":";
			}
		}

		&-description {

			@include Noteworthy(16px, 20px);

			&-link {

				color: inherit;

				&:hover {

					text-decoration: none;
				}
			}
		}

		&-notice {

			position: absolute;
			top: 0;
			right: 15px;
			text-align: right;
			text-transform: lowercase;
			@include Noteworthy(16px, 20px);
		}
	}

	.b-form-captcha-fieldset {

		width: 375px;
		float: left;
		margin: 20px 0 0;
		@include Font(0,0);

		&-picture {

			display: inline-block;
			line-height: 46px;
			height: 46px;
			vertical-align: top;
			width: 225px;
			text-align: right;

			&-entity {

				display: inline-block;
				vertical-align: middle;
				max-width: 100%;
				max-height: 100%;
				margin: 8px 0 0;
			}
		}
	}

	&-text-field {

		width: 100%;
		border: 3px solid #fff;
		border-radius: 8px;
		margin: 5px -3px 0;

		.b-form-captcha-fieldset & {

			width: 105px;
			display: inline-block;
			vertical-align: top;
			margin: 0 -3px 0 10px;
		}

		&-entity {

			width: 100%;
			border: none;
			border-radius: 8px;
			margin: 0;
			box-sizing: border-box;
			padding: 11px 8px;
			background: #73a7cc;
			color: #fff;
			@include shadow(3px, 4px, 0, #41647f, inset);
			@include BaseFont(16px, 18px);
		}
	}

	&-textarea-field {

		width: 100%;
		border: 3px solid #fff;
		border-radius: 8px;
		margin: 5px -3px 0;
		box-sizing: border-box;
		padding: 13px 8px;
		background: #73a7cc;
		color: #fff;
		height: 140px;
		resize: none;
		@include shadow(3px, 4px, 0, #41647f, inset);
		@include BaseFont(16px, 18px);
	}

	&-submit-field {

		max-width: 100%;
		background: #2c7ebd;
		border: none;
		border-radius: 10px;
		padding: 15px 15px 10px;
		white-space: normal;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 1px 1px 0 rgba(0,0,0,.75);
		@include Noteworthy(12px, 16px);
		@include shadow(2px, 1px, 3px, rgba(0,0,0,.75));

		&:hover {

			cursor: pointer;
		}
	}
}

.b-errors-article {

	padding: 100px 50px;
	color: #0c5fa5;
	text-align: center;

	&-title {

		@include Rotonda-Bold(200px, 240px);
	}

	&-description {

		@include Rotonda-Bold(50px, 60px);
	}
}

.b-footer {
	position: relative;
	&-inside {
		
		margin: 0 auto;
		width: $max-width;
	}

	&-caption {

		padding: 0 0 5px;
		@include Rotonda-Bold(28px, normal);
		color: #0c5fa5;
	}
	&-paragraph {

		@include Noteworthy-Bold(19px, 25px);
		color: #0c5fa5;

		&-link {

			@include Noteworthy-Bold(19px, 30px);
			color: #1cacff;

			&:hover {

				text-decoration: none;
			}
		}
	}

	&-projects {

		&-title {

			display: inline-block;
			box-sizing: border-box;
			@include Noteworthy(22px, 69px);
			color: #0c5fa5;
		}

		&-collection {
			
			display: inline-block;
			padding: 25px 0 16px 10px;
			

			&-clause {

				display: inline-block;
				margin: 0 139px 0 0;

				&-link {

					position: relative;
					display: block;
					text-indent: -9999px;
					line-height: 69px;

					&:after {
						position: absolute;
						content: "";
					}
				}
				&-tiji-link:after {
					
					top: 0;
					left: 0;
					width: 113px;
					height: 63px;
					@include graphics(0, 0);
				}
				&-gulli-link:after {
					
					top: 0;
					left: 0;
					width: 61px;
					height: 63px;
					@include graphics(-114px, 0);
				}
			}
		}
	}
	&-law-section {
		
		height: 50px;

		&-agerating-entity {
			
			float: left;
			width: 60px;
			@include Font(24px, 40px);
			color: #0c5fa5;
			vertical-align: top;
		}
		&-inside {

			float: left;
			width: 480px;
		}

		&-copy-entity {

			display: inline-block;
			font-family: "Tahoma", "Helvetica", Arial, sans-serif;
			@include Font(12px, normal);
			color: rgba(12, 95, 165, .5);
		}
		&-agerating-description {

			display: inline-block;
			font-family: "Tahoma", "Helvetica", Arial, sans-serif;
			@include Font(9px, normal);
			color: rgba(12, 95, 165, .3);
		}
	}
	&-request-section {

		position: absolute;
		left: 50%;
		margin-left: 92px;
		bottom: 0;
		width: 681px;
		height: 193px;
		background: transparent url('../i/request-background.png');
		background-repeat: no-repeat; 
		&-link {
			
			display: block;
			margin: 60px 179px;
			width: 160px;
			@include Noteworthy(18px, 18px);
			text-align: center;
			color: #585858;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.b-about-article {
	
	margin: 0 0 90px 0;
	padding: 75px 35px;
	box-sizing: border-box;
	max-height: 1035px;
	overflow: hidden;
	
	&-title {

		padding: 0 0 25px 0;		
		@include Rotonda-Bold(41px, 39px);
		color: #0c5fa5;
	}
	&-content {
		padding: 0 10px 0 0;
		overflow-y: auto;
		max-height: 890px;
		&::-webkit-scrollbar {
			width: 14px;
		}

		&::-webkit-scrollbar-track {
			background: #73a2d0;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
						border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 7px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
		}

	}
	&-paragraph {

		padding: 0 0 25px 0;
		@include Noteworthy-Bold(24px, 33px);
		color: #3b4c66;
	}
	&-pictures-collection {
		
		padding: 0 0 30px 0;
		&-clause {

			display: inline-block;
			margin: 0 44px 0 0;
			overflow: hidden;
			width: 215px;
			border: 5px solid #0c5fa5;
			border-radius: 50%;
			&-picture {

				display: block;
				max-width: 100%;
				height: auto;
			}
		}

	}
}

.b-questions-article {

	padding: 75px 35px;
	color: #0c5fa5;
	&-title {

		padding: 0 15px 20px;
		@include Rotonda-Bold(41px, 48px);
	}
	&-description {

		float: right;
		padding: 35px 0 16px 0;
		width: 432px;
		@include Noteworthy-Bold(24px, 33px);
		color: #3b4c66;
	}

	.b-form {
		 
		float: left;
		padding: 0;
		width: 50%;
	
		&-fieldset.b-form-name-fieldset {
			
			padding: 0 15px 20px;
			float: left;
			width: 432px;
			.b-form-text-field {
				
				position: relative;
				&:before {

					position: absolute;
					content: "";
					top: -3px;
					right: 132px;
					height: 14px;
					width: 99px;
					@include graphics(-256px, -16px);
				}
			}
		}
		
		&-fieldset.b-form-text-fieldset {
			
			float: left;
			margin: 0;
			width: 432px;
			.b-form-text-area-field {

				position: relative;
				margin: 0 -6px 0 0; 
				&:before {

					position: absolute;
					content: "";
					top: 3px;
					right: 0;
					height: 16px;
					width: 336px;
					@include graphics(-370px, -16px);
				}
				&:after {

					position: absolute;
					content: "";
					bottom: -5px;
					right: 47px;
					height: 15px;
					width: 155px;
					@include graphics(-256px, -47px);
				}
			}
		}
		&-fieldset.b-form-submit-fieldset {

			float: left;
			margin: 10px 0 0 -2px;
			width: 185px;
		}
		&-submit-field {

			padding: 0;
			line-height: 54px;
			width: 184px;
		}
		&-inside {

			padding: 0 0 60px 0;
			position: relative;

			&:before {
				position: absolute;
				content: "";
				bottom: 35px;
				left: -35px;
				right: -35px;
				height: 1px;
				background-color: #7aa7cd;
				box-shadow: 0 0 3px #d2e4f2;
			}
		}
	}
}
.b-questions-collection-article {

	position: relative;
	padding: 0 10px 0 0;
	max-height: 500px;
	overflow-y: auto;
	&::-webkit-scrollbar {

		width: 14px;
	}
	&::-webkit-scrollbar-track {

		background: #73a2d0;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
					border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {

		border-radius: 7px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	}
	&-clause {

		padding: 0  0 35px 0;

		&-name {

			position: relative;
			padding: 0 0 0 55px;
			@include Noteworthy-Bold(28px, normal);
			color: #0c5fa5;
			&:before {
				position: absolute;
				content: "";
				top: 4px;
				left: 0px;
				width: 42px;
				height: 42px;
				@include graphics(-175px, 0);
			}
		}
		&-asking-name:before {
			@include graphics(-216px, 0);
		}
		&-answered-name:before {
			@include graphics(-175px, 0);	
		}
		&-paragraph {
			
			padding: 0 0 20px 0;
			@include Noteworthy-Bold(19px, 25px);
			color: #2c4d6a;
		}
	}
}

.b-schedule-article {

	padding: 47px 30px 52px;

	&-controls-link {

		position: relative;
		display: block;
		text-decoration: none;
		&:after {

			position: absolute;
			content: "";
			top: 24px;
			width: 63px;
			height: 63px;
		}
	}
	&-controls-back-link:after {

		left: 9px;
		@include graphics(-291px, -65px);
	}
	&-controls-next-link:after {

		right: 50%;
		margin-right: -106px;
		@include graphics(-354px, -64px);
	}
	&-inside {

		float: left;
		margin: 0 0 0 105px;
		width: 427px;
		overflow: hidden;
		color: #0c5fa5;
	}
	&-days-title {

			@include Noteworthy-Bold(60px, normal);
	}
	&-days-description {

			padding: 0 0 30px 0;
			@include Noteworthy(25px, normal);

	}
	&-programms-collection {

		max-height: 710px;
		overflow-y: auto;
		@include Noteworthy(0, 0);
		&::-webkit-scrollbar {

			width: 8px;
		}
		&::-webkit-scrollbar-track {

			background: #73a2d0;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
						border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb {

			border-radius: 7px;
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
		}
		&-clause {
			
			padding: 0 0 16px 0;
			&-timing-description {

				display: inline-block;
				box-sizing: border-box;
				width: 80px;
				@include Font(17px, normal);
				vertical-align: middle;
			}
			&-title {

				display: inline-block;
				box-sizing: border-box;
				margin: 0 0 0 -80px;
				padding: 0 0 0 80px;
				width: 100%;
				@include Font(25px, 25px);
				vertical-align: middle;
			}
		}
	}

	&-calendar-section {

		width: 300px;
		margin: 35px 0 0 68px;
		float: left;
	}
}

.b-prophecy-article {
	
	padding: 50px 97px 32px 31px;

	&-pictures {
		
		&-section {

			display: inline-block;
			position: relative;
			margin: 0 10px 0 0;
			vertical-align: top;
		}
		&-figure-picture {

			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -116px;
			margin-left: -134px;
		}
		&-link {

			&:after {
				
				position: absolute;
				content: "";
				bottom: 75px;	
				width: 54px;
				height: 54px;
				@include graphics(-465px, -66px);
			}
		}
		&-left-link:after {

			left: 50%;
			margin-left: -55px;
			@include graphics(-465px, -66px);
		}
		&-right-link:after {

			right: 50%;
			margin-right: -57px;
			@include graphics(-523px, -66px);
		}
		
	}

	&-figures {

		&-section {

			display: inline-block;
			vertical-align: top;
		}

		&-description {
			
			padding: 0 0 15px 0;
			@include Noteworthy-Bold(30px, normal);
			color: #0862a6;
		}
		&-collection {
				
			maring: 0 0 -3px;
			width: 381px;
			@include Font(0, 0);
			
			&-clause {

				display: inline-block;
				position: relative;
				margin: 6px;
				padding: 0 0 3px;
				width: 115px;
				height: 110px;
				background-color: #bdd7f3;
				border-radius: 8px;
				cursor: pointer;
				&:hover {
					background-color: #98cef0;
					@include shadow(0px, 5px, 13px, rgba(0, 0, 1, 0.5));
				}
			}
			&-current-clause {
				
				margin: 2px;
				border: 4px solid #e10310;
				background-color: #98cef0;
				@include shadow(0px, 5px, 13px, rgba(0, 0, 1, 0.5));
			}
			&-picture {
			
				position: absolute;
				bottom: 4px;
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}
	}
	&-pagination-collection {

		display: inline-block;
		margin: 0 0 0 7px;
		padding: 0 64px 0 0;
		width: 200px;
		@include Font(0, 0);

		&-clause {

			display: inline-block;
			margin: 0 10px 0 0;
			width: 40px;
			background-color: #2c7ebd;
			text-align: center;
			border-radius: 5px;
			@include shadow(0px, 5px, 13px, rgba(0, 0, 1, 0.5));

		}
		&-clause:hover {

			background-color: #78afdb;			
		}
		&-current-clause {

			background-color: #78afdb;
			@include shadow(1px, 2px, 5px, rgba(10, 75, 130, 0.29), inset);			
		}
		&-link {

			display: block;
			padding: 6px 0;
			@include Noteworthy-Bold(12px, normal);
			text: {
				shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
				decoration: none;
			}
			color: #fff;
			

		}

	}
	&-link {

		display: inline-block;
		padding: 8px 15px 12px;
		@include Noteworthy-Bold(18px, normal);
		text: {
			decoration: none;
			transform: none;
		}


		&:hover {

			background-color: #78afdb;
		}
	}
}

