@import "_reset";
@import "_tools";
@import "_fonts";
@import "_variables";

/* Common (common styles) */
body, input, textarea, select, button {
	
	font-family: Arial, sans-serif;
}

html {

	height: auto;
	min-height: 100%;
}

body {

	@include BaseFont(14px, 20px);
	height: 100%;
	position: relative;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	// @include cover('../i/background.jpg');
	background: transparent url('../i/background.jpg');
	background-position: 50% 0;
	background-repeat: no-repeat;
}

input, textarea, select, button {
	
	font-size: 1em;
}

/* Overrides extra padding in Firefox */ 
button::-moz-focus-inner { 
	
	padding: 0; 
	border: none;
}

/* Global (global styles) / prefix - g- */

.g-pseudo-link {
	
	border-bottom: 1px dashed;
	text-decoration: none !important;
	cursor: pointer;
}

.g-limited {
	
	width: $max-width;
}

.g-cleaner {
	
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

.g-cleared:after {
	
	display: block;
	content: ".";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}

.g-hidden {
	
	display: none !important;
}

.l-header, .l-content {

	margin: 0 auto;
	@include Font(0, 0);
}

.l-header {
	padding: 0 0 140px;
}

.b-logo {
	
	display: inline-block;
	width: 235px;
	vertical-align: top;

	&-link {

		position: relative;
		&:after {
			
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 417px;
			height: 235px;
			background: transparent url('../i/logo.png') no-repeat;
		}
	}
}

.b-primary-menu {
	
	display: inline-block;
	box-sizing: border-box;
	margin: 0 0 0 -235px;
	padding: 60px 0 0 235px;
	width: 100%;
	text-align: right;
	vertical-align: top;

	&-clause {

		display: inline-block;
		margin: 0 0 0 10px;
		width: auto;
		max-width: 110px;
		text-align: center;
		vertical-align: top;

		&-link {
			
			@include Font(13px, 18px);
			color: #fff;
			text: {
				transform: uppercase;
			 	decoration: none;
			 	align: center;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.b-article {
	padding: 0 0 100px;
	&-form {

		margin: 0 auto;
		width: 960px;
		height: 572px;
		@include Font(45px, 600px);
		text-align: center;
		color: #fff;
		background-color: #318aca;
	}
}

.b-footer {

	&-caption {

		padding: 0 0 10px;
		@include Font(28px, normal);
		color: #0c5fa5;
	}
	&-paragraph {

		padding: 0 0 10px;
		@include Font(19px, 25px);
		color: #0c5fa5;

		&-link {

			@include Font(19px, 30px);
			color: #1cacff;

			&:hover {

				text-decoration: none;
			}
		}
	}

	&-projects {

		&-title {

			display: inline-block;
			box-sizing: border-box;
			@include Font(22px, normal);
			color: #0c5fa5;
		}

		&-collection {
			
			display: inline-block;
			padding: 20px;
			width: 410px;

			&-clause {

				display: inline-block;

				&-link {

					@include Font(16px, 16px);

					&:after {
						position: absolute;
						content: "";
					}
				}
				&-tiji-link {

					
				}
			}
		}
	}
}