<footer class="l-footer">
	<div class="b-footer-inside g-limited">
		<h2 class="b-footer-caption">Привет, я Дедушка Мороз!</h2>
		
		<p class="b-footer-paragraph">Совсем недавно у меня открылся целый телеканал, на котором с 1 декабря<br>по 31 января вы сможете посмотреть свои самые любимые новогодние мультфильмы, волшебные сказки и любимые фильмы.</p>
		
		<p class="b-footer-paragraph"><a href="/" class="b-footer-paragraph-link">Подключайтесь к моему каналу</a>, и праздник придет в ваш дом!</p>

		<h2 class="b-footer-projects-title">Наши проекты:</h2>

		<ul class="b-footer-projects-collection">
			<li class="b-footer-projects-collection-clause"><a href="#" class="b-footer-projects-collection-clause-link b-footer-projects-collection-clause-tiji-link">TiJi</a></li>
			<li class="b-footer-projects-collection-clause"><a href="#" class="b-footer-projects-collection-clause-link b-footer-projects-collection-clause-gulli-link">Gulli</a></li>
		</ul>

		<div class="b-footer-law-section">
			<span class="b-footer-law-section-agerating-entity">0+</span>
			<div class="b-footer-law-section-inside">
				<span class="b-footer-law-section-copy-entity">&copy; SAS Lagardere Tematique International. Все права защищены.</span>
				<span class="b-footer-law-section-agerating-description">Информационная продукция, опубликованная на данном сайте, предназначена для любой аудитории, если иное не указано дополнительно в отношении отдельных материалов</span>
			</div>
		</div>

		<div class="b-footer-request-section">
			<a href="#" class="b-footer-request-section-link">Оставь свое видеопоздравление в эфире</a>
		</div>

	</div>
</footer>