<article class="b-about-article">
	<h1 class="b-about-article-title">О канале</h1>
	<div class="b-about-article-content">
		<p class="b-about-article-paragraph">Близится Новый Год, и нам всем так хочется почувствовать то самое зимнее волшебство, наполненное сказками, подарками и любимым запахом снега и мандаринов!</p>

		<p class="b-about-article-paragraph">&laquo;Телеканал Деда Мороза&raquo;&nbsp;&mdash; единственный сезонный телеканал с новогодней и рождественской тематикой для детей и их родителей!</p>

		<ul class="b-about-article-pictures-collection">
			<li class="b-about-article-pictures-collection-clause"><img src="i/about-1.jpg" alt="Умка" class="b-about-article-pictures-collection-clause-picture"></li>
			<li class="b-about-article-pictures-collection-clause"><img src="i/about-2.jpg" alt="Елки 2" class="b-about-article-pictures-collection-clause-picture"></li>
			<li class="b-about-article-pictures-collection-clause"><img src="i/about-3.jpg" alt="Пороро" class="b-about-article-pictures-collection-clause-picture"></li>
		</ul>

		<p class="b-about-article-paragraph">Узнайте, как готовится к празднованию Нового Года сам Дедушка Мороз в передаче &laquo;Новогодний календарь&raquo;, научитесь вместе с детьми готовить праздничные украшения, подарки и блюда в &laquo;Новогодней мастерской&raquo;, смотрите классические новогодние мультфильмы &laquo;Умка&raquo;, &laquo;Дед Мороз и лето&raquo;, новогодние выпуски мультсериалов для малышей &laquo;Привет, Китти!&raquo;, &laquo;Пороро&raquo; и многие другие! </p>

		<p class="b-about-article-paragraph">Познакомьте детей с новогодней классикой: &laquo;Снегурочка&raquo;, &laquo;Новогодние приключения Маши и Вити&raquo; и другими волшебными сказками, а также смотрите всей семьей любимые и новые фильмы о Рождестве и Новом Годе: &laquo;Реальная любовь&raquo;, &laquo;Елки&raquo;, &laquo;Елки 2&raquo; и &laquo;Елки 3&raquo;, &laquo;Рождественские приключения Бетховена&raquo; и многое другое.</p>

		<p class="b-about-article-paragraph">А еще ваших детей может поздравить самый настоящий Дед Мороз, просто участвуйте в интерактивных акциях на нашем сайте dedmoroztv.com! </p>

		<p class="b-about-article-paragraph">Наш новогодний телеканал вещает с 1 декабря по 31 января, и помогает создать самое невероятное новогоднее настроение у вас и ваших детей и настроиться на главный праздник года!</p>

		<p class="b-about-article-paragraph">&laquo;Телеканал Деда Мороза&raquo;, предлагает эксклюзивную программу для всех, кто любит Новый год, Рождество и волшебный мир доброго сказочного старика из Великого Устюга, который обожает дарить подарки и исполнять мечты!</p>

		<p class="b-about-article-paragraph">&laquo;La Chaine du Pere Noel&raquo; (&laquo;Телеканал Деда Мороза&raquo;) был основан в 2011 году и имеет грандиозный успех во Франции. В новогодний сезон 2013&mdash;2014 &laquo;Телеканал Деда Мороза&raquo; впервые вышел на русском языке. Этот канал стал новогодним подарком создателей канала и ОАО &laquo;Ростелеком&raquo; всем абонентам Интерактивного ТВ, и в этом году волшебство продолжается! </p>

		<p class="b-about-article-paragraph">Смотрите Телеканал Деда Мороза, и ваша зима наполнится чудесами!</p>
	</div>

</article>















П









