<form action="POST" class="b-form b-congratulations-form">
	<h2 class="b-form-title">Заполните форму и Дед Мороз поздравит по телефону Вас и Ваших близких!</h2>
	<fieldset class="b-form-fieldset b-form-name-fieldset">
		<label class="b-form-fieldset-title">Имя ребёнка</label>
		<input type="text" class="b-form-text-field">
	</fieldset>
	<fieldset class="b-form-fieldset b-form-phone-fieldset">
		<label class="b-form-fieldset-title">Номер телефона</label>
		<input type="text" class="b-form-text-field">
	</fieldset>
	<fieldset class="b-form-fieldset b-form-text-fieldset">
		<label class="b-form-fieldset-title">Текст поздравления</label>
		<div class="b-form-fieldset-notice">Осталось 140 символов</div>
		<textarea class="b-form-textarea-field"></textarea>
	</fieldset>
	<fieldset class="b-form-fieldset b-form-captcha-fieldset">
		<a href="#" class="b-form-captcha-fieldset-picture">
			<img src="#" alt="" class="b-form-captcha-fieldset-picture-entity">
		</a>
		<input type="text" class="b-form-text-field">
	</fieldset>
	<fieldset class="b-form-fieldset b-form-rules-fieldset">
		<input type="checkbox" class="b-form-fieldset-checkbox-field">
		<span class="b-form-fieldset-description">Принимаю <a href="" class="b-form-fieldset-description-link">правила участия</a></span>
	</fieldset>
	<fieldset class="b-form-fieldset b-form-submit-fieldset">
		<input type="submit" class="b-form-fieldset-submit-field" value="Получить ссылку на поздравление">
	</fieldset>
</form>
