<div class="b-questions-article">

	<h2 class="b-questions-article-title">Задай вопрос Деду Морозу</h2>
	<div class="b-questions-article-inside g-cleared">
		<form action="POST" class="b-form g-cleared">
			
			<fieldset class="b-form-fieldset b-form-name-fieldset">
				<label class="b-form-fieldset-title">Напиши свое имя</label>
				<div class="b-form-text-field">
					<input type="text" class="b-form-text-field-entity">
				</div>
			</fieldset>

			<fieldset class="b-form-fieldset b-form-text-fieldset">
				<label class="b-form-fieldset-title">Напиши вопрос Деду Морозу</label>
				<textarea class="b-form-textarea-field"></textarea>
			</fieldset>

			<fieldset class="b-form-fieldset b-form-submit-fieldset">
				<button type="submit" class="b-form-submit-field">Отправить вопрос</button>
			</fieldset>
		</form>

		<p class="b-questions-article-description">Хочешь получить поздравление от Дедушки Мороза? Тогда напиши ему письмо, в котором попроси все, что тебе захочется! Когда оно дойдет, Дедушка его прочитает и обязательно тебе ответит. И все, что ты загадал на Новый Год, обязательно сбудется!</p>
	</div>

	<div class="b-questions-collection-article">
	
		<dl class="b-questions-collection-article-clause">
			<dt class="b-questions-collection-article-clause-name b-questions-collection-article-clause-asking-name">Миша</dt>
			<dd class="b-questions-collection-article-clause-paragraph b-questions-collection-article-clause-asking-paragraph">Сколько оленей у дедушки мороза</dd>
			<dt class="b-questions-collection-article-clause-name b-questions-collection-article-clause-answered-name">Дед Мороз</dt>
			<dd class="b-questions-collection-article-clause-paragraph b-questions-collection-article-clause-answered-paragraph">Привет! Я, Дедушка Мороз! Совсем недавно у меня открылся целый телеканал, на котором с 1 декабря по 31 января, вы сможете посмотреть свои самые любимые новогодние мультфильмы, волшебные сказки и любимые фильмы.</dd>
		</dl>

		<dl class="b-questions-collection-article-clause">
			<dt class="b-questions-collection-article-clause-name b-questions-collection-article-clause-asking-name">Миша</dt>
			<dd class="b-questions-collection-article-clause-paragraph b-questions-collection-article-clause-asking-paragraph">Сколько оленей у дедушки мороза</dd>
			<dt class="b-questions-collection-article-clause-name b-questions-collection-article-clause-answered-name">Дед Мороз</dt>
			<dd class="b-questions-collection-article-clause-paragraph b-questions-collection-article-clause-answered-paragraph">Привет! Я, Дедушка Мороз! Совсем недавно у меня открылся целый телеканал, на котором с 1 декабря по 31 января, вы сможете посмотреть свои самые любимые новогодние мультфильмы, волшебные сказки и любимые фильмы.</dd>
		</dl>

		<dl class="b-questions-collection-article-clause">
			<dt class="b-questions-collection-article-clause-name b-questions-collection-article-clause-asking-name">Миша</dt>
			<dd class="b-questions-collection-article-clause-paragraph b-questions-collection-article-clause-asking-paragraph">Сколько оленей у дедушки мороза</dd>
			<dt class="b-questions-collection-article-clause-name b-questions-collection-article-clause-answered-name">Дед Мороз</dt>
			<dd class="b-questions-collection-article-clause-paragraph b-questions-collection-article-clause-answered-paragraph">Привет! Я, Дедушка Мороз! Совсем недавно у меня открылся целый телеканал, на котором с 1 декабря по 31 января, вы сможете посмотреть свои самые любимые новогодние мультфильмы, волшебные сказки и любимые фильмы.</dd>
		</dl>

		<dl class="b-questions-collection-article-clause">
			<dt class="b-questions-collection-article-clause-name b-questions-collection-article-clause-asking-name">Миша</dt>
			<dd class="b-questions-collection-article-clause-paragraph b-questions-collection-article-clause-asking-paragraph">Сколько оленей у дедушки мороза</dd>
			<dt class="b-questions-collection-article-clause-name b-questions-collection-article-clause-answered-name">Дед Мороз</dt>
			<dd class="b-questions-collection-article-clause-paragraph b-questions-collection-article-clause-answered-paragraph">Привет! Я, Дедушка Мороз! Совсем недавно у меня открылся целый телеканал, на котором с 1 декабря по 31 января, вы сможете посмотреть свои самые любимые новогодние мультфильмы, волшебные сказки и любимые фильмы.</dd>
		</dl>

	</div>

</div>		