<article class="b-prophecy-article">

	<h1 class="b-prophecy-article-title"> Твое предсказание</h1>

	<div class="b-prophecy-article-pictures-section">
		
		<div class="b-prophecy-article-pictures-main-picture">
			<img src="i/snowball.png" alt="Снежный шар" class="b-prophecy-article-pictures-main-picture-entity">
		</div>
		<div class="b-prophecy-article-pictures-figure-picture">
			<img src="i/gingerbreadMan.png" height="223" width="268" alt="Пряничный человечек" class="b-prophecy-article-pictures-main-picture-entity">
		</div>

		<a href="#" class="b-form-submit-field b-prophecy-article-pictures-shake-link">Потрясти</a>

	</div>
	<div class="b-prophecy-article-content">
		<h2 class="b-prophecy-article-content-description">2. Твое предсказание</h2>

		<div class="b-prophecy-article-content-section">
			<p class="b-prophecy-article-content-paragraph">Чтобы получить предсказание потрясите шар</p>
		</div>	
	</div>
</article>

