<article class="b-prophecy-article">

	<h1 class="b-prophecy-article-title">Предсказание</h1>

	<div class="b-prophecy-article-pictures-collection">

		<canvas class="b-prophecy-article-canvas-picture" width="440" height="460" data-snowglobe="true"></canvas>
		
		<div class="b-prophecy-article-pictures-main-picture"></div>
		<div class="b-prophecy-article-pictures-figure-picture"></div>

		<a href="#" class="b-prophecy-article-pictures-link b-prophecy-article-pictures-left-link"></a>
		<a href="#" class="b-prophecy-article-pictures-link b-prophecy-article-pictures-right-link"></a>

	</div>

	<div class="b-prophecy-article-description">1. Выберите фигурку</div>

	<ul class="b-prophecy-article-figures-collection">
		<li class="b-prophecy-article-figures-collection-clause">
			<img src="i/figures/superman.png" alt="Супермен" class="b-prophecy-article-figures-collection-picture">
		</li>
		<li class="b-prophecy-article-figures-collection-clause">
			<img src="i/figures/pirat.png" alt="Пиратка Карибского джакузи" class="b-prophecy-article-figures-collection-picture">
		</li>
		<li class="b-prophecy-article-figures-collection-clause">
			<img src="i/figures/frog.png" alt="Хипстер Фрог" class="b-prophecy-article-figures-collection-picture">
		</li>
		<li class="b-prophecy-article-figures-collection-clause b-prophecy-article-figures-collection-current-clause">
			<img src="i/figures/gingerbreadMan.png" height="97" width="60" alt="Пряничный человечек" class="b-prophecy-article-figures-collection-picture">
		</li>
		<li class="b-prophecy-article-figures-collection-clause">
			<img src="i/figures/frankenstein.png" alt="Франкенштейн" class="b-prophecy-article-figures-collection-picture">
		</li>
		<li class="b-prophecy-article-figures-collection-clause">
			<img src="i/figures/monstro.png" alt="Корпорация монстров" class="b-prophecy-article-figures-collection-picture">
		</li>
		<li class="b-prophecy-article-figures-collection-clause">
			<img src="i/figures/pig.png" height="105" width="72" alt="Стильный поросенок" class="b-prophecy-article-figures-collection-picture">
		</li>
		<li class="b-prophecy-article-figures-collection-clause">
			<img src="i/figures/deer.png" height="99" width="61" alt="Олень Деда Мороза" class="b-prophecy-article-figures-collection-picture">
		</li>
		<li class="b-prophecy-article-figures-collection-clause">
			<img src="i/figures/superman.png" alt="Супермен" class="b-prophecy-article-figures-collection-picture">
		</li>

	</ul>

	<ul class="b-prophecy-article-pagination-collection">
		<li class="b-prophecy-article-pagination-collection-clause"><a href="#" class="b-prophecy-article-pagination-collection-link">1</a></li>
		<li class="b-prophecy-article-pagination-collection-clause"><a href="#" class="b-prophecy-article-pagination-collection-link">2</a></li>
		<li class="b-prophecy-article-pagination-collection-clause"><a href="#" class="b-prophecy-article-pagination-collection-link">3</a></li>
		<li class="b-prophecy-article-pagination-collection-clause"><a href="#" class="b-prophecy-article-pagination-collection-link">4</a></li>
	</ul>

	<a href="#" class="b-prophecy-article-link b-form-submit-field">Выбрать</a>
</article>

