<article class="b-prophecy-article">

	<h1 class="b-prophecy-article-title">Предсказание</h1>

	<div class="b-prophecy-article-pictures-section">
		
		<canvas class="b-prophecy-article-canvas-picture" width="440" height="460" data-snowglobe="true">
			<div class="b-prophecy-article-pictures-main-picture">
				<img src="i/snowball.png" alt="Снежный шар" class="b-prophecy-article-pictures-main-picture-entity">
			</div>
			<div class="b-prophecy-article-pictures-figure-picture">
				<img src="i/gingerbreadMan.png" height="223" width="268" alt="Пряничный человечек" class="b-prophecy-article-pictures-main-picture-entity">
			</div>
		</canvas>

		<a href="#" class="b-prophecy-article-pictures-link b-prophecy-article-pictures-left-link g-hidden">Влево</a>
		<a href="#" class="b-prophecy-article-pictures-link b-prophecy-article-pictures-right-link g-hidden">Вправо</a>

		<a href="#" class="b-form-submit-field b-prophecy-article-pictures-shake-link" onclick="$('[data-snowglobe]').trigger('draw_snow');">Потрясти</a>

	</div>

	<!-- prophecy — title -->
	<div class="b-prophecy-article-figures-section g-hidden">
		<h2 class="b-prophecy-article-figures-description">1. Выберите фигурку</h2>

		<ul class="b-prophecy-article-figures-collection">
			<li class="b-prophecy-article-figures-collection-clause">
				<img src="i/figures/superman.png" alt="Супермен" class="b-prophecy-article-figures-collection-picture">
			</li>
			<li class="b-prophecy-article-figures-collection-clause">
				<img src="i/figures/pirat.png" alt="Пиратка Карибского джакузи" class="b-prophecy-article-figures-collection-picture">
			</li>
			<li class="b-prophecy-article-figures-collection-clause">
				<img src="i/figures/frog.png" alt="Хипстер Фрог" class="b-prophecy-article-figures-collection-picture">
			</li>
			<li class="b-prophecy-article-figures-collection-clause b-prophecy-article-figures-collection-current-clause">
				<img src="i/figures/gingerbreadMan.png" height="97" width="60" alt="Пряничный человечек" class="b-prophecy-article-figures-collection-picture">
			</li>
			<li class="b-prophecy-article-figures-collection-clause">
				<img src="i/figures/frankenstein.png" alt="Франкенштейн" class="b-prophecy-article-figures-collection-picture">
			</li>
			<li class="b-prophecy-article-figures-collection-clause">
				<img src="i/figures/monstro.png" alt="Корпорация монстров" class="b-prophecy-article-figures-collection-picture">
			</li>
			<li class="b-prophecy-article-figures-collection-clause">
				<img src="i/figures/pig.png" height="105" width="72" alt="Стильный поросенок" class="b-prophecy-article-figures-collection-picture">
			</li>
			<li class="b-prophecy-article-figures-collection-clause">
				<img src="i/figures/deer.png" height="99" width="61" alt="Олень Деда Мороза" class="b-prophecy-article-figures-collection-picture">
			</li>
			<li class="b-prophecy-article-figures-collection-clause">
				<img src="i/figures/superman.png" alt="Супермен" class="b-prophecy-article-figures-collection-picture">
			</li>

		</ul>

		<ul class="b-prophecy-article-pagination-collection">
			<li class="b-prophecy-article-pagination-collection-clause b-prophecy-article-pagination-collection-current-clause"><a href="#" class="b-prophecy-article-pagination-collection-link">1</a></li>
			<li class="b-prophecy-article-pagination-collection-clause"><a href="#" class="b-prophecy-article-pagination-collection-link">2</a></li>
			<li class="b-prophecy-article-pagination-collection-clause"><a href="#" class="b-prophecy-article-pagination-collection-link">3</a></li>
			<li class="b-prophecy-article-pagination-collection-clause"><a href="#" class="b-prophecy-article-pagination-collection-link">4</a></li>
		</ul>

		<a href="#" class="b-prophecy-article-link b-form-submit-field">Выбрать</a>
	</div>

	<!-- prophecy — shake -->

	<div class="b-prophecy-article-figures-section g-hidden">
	<!-- TODO блок дублирую для упрощения верстки, впоследствии удалить, содержимое перенести   --> 
		<h2 class="b-prophecy-article-figures-description">2. Твое предсказание</h2>
		<!--  -->
		<div class="b-prophecy-article-content-section g-hidden">
			<div class="b-prophecy-article-content-section-inside">
				<p class="b-prophecy-article-content-paragraph">Чтобы получить предсказание потрясите шар</p>
			</div>
		</div>

	</div>
	<!-- prophecy — result -->
	<div class="b-prophecy-article-figures-section b-prophecy-article-figures-result-section">
	<!-- TODO блок дублирую для упрощения верстки, впоследствии удалить, содержимое перенести   --> 
		<h2 class="b-prophecy-article-figures-description">2. Твое предсказание</h2>

		<div class="b-prophecy-article-content-section">
			<h3 class="b-prophecy-article-content-title">В новом году тебя ждут:</h3>
			<p class="b-prophecy-article-content-paragraph">Невероятные путешествия, наполненные множеством сладких моментов, борьбой с дикими условиями и романтикой.</p>
		</div>

		<dl class="b-prophecy-article-social-collection">
			<dt class="b-prophecy-article-social-collection-title">Поделиться с друзьями</dt>
			<dd class="b-prophecy-article-social-collection-clause">
				<a href="#" class="b-prophecy-article-social-collection-link b-prophecy-article-social-collection-fb-link">Fb</a>
			</dd>
			<dd class="b-prophecy-article-social-collection-clause">
				<a href="$" class="b-prophecy-article-social-collection-link b-prophecy-article-social-collection-vk-link">Vk</a>
			</dd>
			<dd class="b-prophecy-article-social-collection-clause">
				<a href="$" class="b-prophecy-article-social-collection-link b-prophecy-article-social-collection-od-link">Od</a>
			</dd>
		</dl>

		<a href="#" class="b-form-submit-field b-prophecy-article-social-collection-share-link">Попробовать еще раз</a>

	</div>

</article>

