
<article class="b-schedule-article g-cleared">

	<h1 class="b-schedule-article-title">Программа передач</h1>

	<a href="#" class="b-schedule-article-controls-link b-schedule-article-controls-back-link">Назад</a>
	<a href="#" class="b-schedule-article-controls-link b-schedule-article-controls-next-link">Вперед</a>
	
	<div class="b-schedule-article-inside">

		<h2 class="b-schedule-article-days-title">Понедельник</h2>

		<h3 class="b-schedule-article-days-caption">13/12/2014</h2>

		<div class="b-schedule-article-programms-collection">
			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">05:00</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Нуки и друзья</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">05:05</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Кот в шляпе</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">05:45</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Веселый курятник</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">06:00</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Дорогу Нодди</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">06:25</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">СамСам</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">06:50</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Пингвиненок Пороро</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">07:15</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Робот Робик</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">07:35</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Озибу: Защити планету</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">07:55</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Манон</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">08:20</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Крошка Крольчонок</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">08:30</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Приключения медвежонка</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">08:45</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Тротро</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">08:55</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Нуки и друзья</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">09:10</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Необыкновенные приключения итальянцев в горошине</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">09:20</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Денни и Дедди</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">10:00</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Кот в шляпе</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">10:35</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Веселый курятник</dd>
			</dl>
			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">11:15</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Мистер Умелец в городе</dd>
			</dl>
			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">11:30</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">11:35</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">11:30</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">11:35</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">11:30</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">11:35</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">11:30</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-time">11:35</dt>
				<dd class="b-schedule-article-programms-collection-clause-name">Тельмо и Тула</dd>
			</dl>

		</div>

	</div>
	
</article>