
<article class="b-schedule-article g-cleared">

	<h1 class="b-schedule-article-title">Программа передач</h1>

	<a href="#" class="b-schedule-article-controls-link b-schedule-article-controls-back-link">Назад</a>
	<a href="#" class="b-schedule-article-controls-link b-schedule-article-controls-next-link">Вперед</a>
	
	<div class="b-schedule-article-inside">

		<h2 class="b-schedule-article-days-title">Понедельник</h2>

		<h3 class="b-schedule-article-days-description">13/12/2014</h2>

		<div class="b-schedule-article-programms-collection">
			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">05:00</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Нуки и друзья</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">05:05</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Кот в шляпе</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">05:45</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Веселый курятник</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">06:00</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Дорогу Нодди</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">06:25</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">СамСам</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">06:50</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Пингвиненок Пороро</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">07:15</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Робот Робик</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">07:35</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Озибу: Защити планету</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">07:55</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Манон</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">08:20</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Крошка Крольчонок</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">08:30</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Приключения медвежонка</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">08:45</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Тротро</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">08:55</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Нуки и друзья</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">09:10</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Необыкновенные приключения итальянцев в горошине</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">09:20</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Денни и Дедди</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">10:00</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Кот в шляпе</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">10:35</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Веселый курятник</dd>
			</dl>
			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">11:15</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Мистер Умелец в городе</dd>
			</dl>
			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">11:30</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">11:35</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">11:30</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">11:35</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">11:30</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">11:35</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">11:30</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Тельмо и Тула</dd>
			</dl>

			<dl class="b-schedule-article-programms-collection-clause">
				<dt class="b-schedule-article-programms-collection-clause-timing-description">11:35</dt>
				<dd class="b-schedule-article-programms-collection-clause-title">Тельмо и Тула</dd>
			</dl>

		</div>

	</div>

	<div class="b-schedule-article-calendar-section" data-calendar="true"></div>
	
</article>